html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background: url("./static/images/login_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    font-family: Quicksand;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}

.left {
    float: left;
}

.left ul {
    list-style: none;
    padding: 1em 3em;
}

.left ul li {
    display: inline-block;
}

.left ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 16px;
}

.right {
    float: right;
}

.right ul {
    list-style: none;
    padding: 1em 3em;
}

.right ul li {
    display: inline-block;
}

.right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 8px 16px;
}

.right li:nth-child(2) {
    border: 1;
    border-radius: 4px;
}

.header {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #fff;
    font-size: 46px;
}

.header p {
    color: #fff;
    font-size: 12px;
}

.form {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #0078ff;
}

::-webkit-input-placeholder {
    color: #eaeaea;
    font-size: 12px;
    letter-spacing: 2px;
}